
.nav-auth button {
  background-color: #444857;
  color: white;
  border: none;
  border-radius: 0;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-auth button:hover {
  background-color: #5a5f73;
}


.nav-auth .signup-btn {
  background-color: #444857;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 0;
  padding: 12px 28px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-auth .signup-btn:hover {
  background-color: #2c2f36;
}


.buttons-wrapper .signup-free {
  background-color: #47cf73;
  border: none;
  border-radius: 0;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 40px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons-wrapper .signup-free:hover {
  background-color: #3ab862;
}


.buttons-wrapper .learn-more {
  background-color: #000000;
  border: none;
  border-radius: 0;
  color: rgb(243, 233, 233);
  font-size: 30px;
  font-weight: 700;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buttons-wrapper .learn-more:hover {
  background-color: #2c2f36;
}
