.nav-container {
	width: 100%;
	height: 110px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 50px;
	padding: 0 40px;
}

.nav-container > .logo-container img {
	height: 45px;
	width: auto;
}

.nav-container > .nav-links {
	display: flex;
	align-items: flex-end;
	gap: 35px;
	margin-left: -10px;
}



.nav-container > .nav-auth > .search-icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #acacac; 
    font-size: 1.4em; 
    padding: 20px 18px; 
    font-weight: 700;
    transition: all 0.3s ease; 
}
.nav-container > .nav-links > .explore-block {
	width: 480px;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
}

.nav-container > .nav-links > .explore-block > .explore {
	font-weight: 700;
	color: #f4e187;
	font-size: 1.1em;
}
.nav-container > .nav-links > .explore-block > .links-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-container > .nav-links > .explore-block > .links-wrapper > .nav-link a {
	font-weight: 900;
	color: white;
	text-decoration: none;
	font-size: 1.25em;
}

.nav-container > .nav-links > .explore-block > .links-wrapper > .nav-link a:hover {
	color: #acacac;
}
.nav-container > .nav-links > .nav-spark {
	font-weight: 700;
	font-size: 1.2em;
	color: #acacac;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 3px;
	position: relative;  
  top: 4px;
}

.nav-container > .nav-links > .nav-spark:hover {
	color: #c6c6c6;
}

.nav-container > .nav-links > .nav-spark i {
	margin-left: 10px;
	font-size: 1em;
}

.nav-container > .nav-auth {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	margin-left: auto;
}
.nav-container > .nav-auth > .create-btn {
	background-color: #2c2c2c;
	color: white;
	border: none;
	font-weight: 700;
	padding: 20px 32px; 
	border-radius: 0;
	cursor: pointer;
	font-size: 1.25em; 
	display: flex;
	align-items: center;
	gap: 8px;
	transition: background-color 0.3s ease;
}

.nav-container > .nav-auth > .create-btn:hover {
	background-color: #3b3b3b;
}
.nav-container > .nav-auth > .create-btn i {
    color: #63e68c; 
    font-size: 0.8em;
    position: relative;
    top: 1px;
}

.nav-container > .nav-auth > .login-btn {
	background-color: #2c2c2c;
	color: white;
	border: none;
	font-weight: 700;
	padding: 20px 32px;
	border-radius: 0;
	cursor: pointer;
	font-size: 1.25em; 
	display: flex;
	align-items: center;
	gap: 8px;
	transition: background-color 0.3s ease;
}


.nav-container > .nav-auth > .login-btn:hover {
	color: #acacac;
}

.nav-container > .nav-auth > .signup-btn {
	background-color: #2c2c2c;
	color: white;
	border: none;
	font-weight: 700;
	padding: 20px 32px; 
	border-radius: 0;
	cursor: pointer;
	font-size: 1.15em; 
	display: flex;
	align-items: center;
	gap: 8px;
	transition: background-color 0.3s ease;
}

.nav-container > .nav-auth > .signup-btn:hover {
	background-color: #63e68c;
}

