.page-container {
width: 100%;
 height: auto;
min-height: 530px;
 background-color: #2a2c31; 
 box-shadow: inset -650px 0 500px rgba(0, 0, 0, 0.8);
display: flex;
 align-items: stretch; 
 justify-content: space-between;
 padding: 40px 60px 60px; 
 gap: 60px;
 color: #b8b9bd;
 overflow: hidden; 
}

.page-container .description-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding-left: 60px;
  padding-top: 20px;
  z-index: 2; 
  position: relative;
  margin-top: 0;
}

.page-container .text-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.page-container .top-header {
  font-size: 3.8em;
  font-weight: 300;
  line-height: 1.5em;
max-width: 90%;
}

.page-container .top-header strong {
  color: white;
}

.page-container .bottom-header {
  font-size: 2.3em;
  font-weight: 400;
  line-height: 1.5em;
}

.page-container .buttons-wrapper {
  display: flex;
  gap: 15px;
}


.page-container .projects-section {
  width: 55%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -60px
}

.page-container .projects-section img {
  width: 130%; 
  max-width: 850px; 
  height: auto;
  margin-right: -60px; 
  margin-top: auto;
  z-index: 1;

}

.page-container .projects-section .img-header {
  color: white;
  font-size: 1.15em;
  font-weight: 700;
  text-align: left;
  align-self: flex-start; 
  margin-left: 150px;     
  margin-bottom: 15px;    
}


.custom-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: #131417;
  margin: 0;
  gap: 0;       
  border-top: 1px solid gray;
 border-bottom: 1px solid gray;      

}
.custom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: #36383f;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6em;
  transition: background-color 0.2s ease;
  border-right: 1px solid gray;
  white-space: nowrap;

}

.custom-item:last-child {
  border-right: none;
}

.custom-item span {
  font-weight: 900;
  margin-left: 5px;
}

.custom-item:hover {
  background-color: #454750;
}
.black-space {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: block; 
  margin: 0;
}
